.t{
	width: 80px;
	margin: 10px;
}
.Table{
	position: absolute;
	margin-top: 20px;
	
}
.element{
	background-color: #AAFFFFFF;
	margin-top: 20px;
	border: 2px solid black;
	margin-right: 20px;
}
#btn{
	width: 100px;
	height: 50px;
	background-color: #00FF00FF;
	margin-top: 20px;
}
#btn_2{
	width: 50px;
	height: 50px;
	background-color: #FF0000FF;
	margin: 5px;
	border-radius: 50%;
}
#btn_3{
	width: 100px;
	height: 50px;
	background-color: #FFFF7FFF;
	margin-top: 20px;
}